/*Обнуление*/

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}

/* ------------------------------------------------------------------------ */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------------------------- */
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}


/* ----------------------------- ШАПКА ------------------------------------------------------------------- */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  /* чтобы наследовал ? */
}

.header__menu {
  margin: 0px 0px 0px 133px;

}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  padding: 5px 0px;
}

.menu__list {
  flex-wrap: wrap;
  /* позволит элементам ломаться и переходить на следующие строки при сжатии экрана */
  display: flex;
  /* выстраиваем в ряд элементы */
}

.menu__item {}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
  /* не позволяет элементам слипаться при сжатии экрана, расчитываем с помощью калькулятора calc(24/14 *100%) макет/размер шрифта и умножить на 100: */
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/* позволяет увеличить шрифт при 
уменьшении экрана до 320px, также автоматически увеличится line-height, потому что он в процентах */

/* ------------------- PAGE ---------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
  /* позволяем увеличиваться */

}

.page__main-block {}

.page__services {
  /* чтобы блоки показались НАД первым блоком*/
  position: relative;
  z-index: 2;
  /* отрицательный margin: -111px, позволяет приподнять колонки в третьем блоке поверх первого блока так как только за отрицательным margin поднимутся все блоки*/
  margin: -111px 0px 0px 0px;
}

.page__advantages {}

.page__practice {}

.page__whoweare {}

.page__clients:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.page__subscribe {}

.page__getintouch {}

.page__contact {}

/* ------------------- HEADER-BLOCK---------------------------------------------------------------------- */

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-size: 40px;
  line-height: 142%;
  font-weight: 700;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
  color: #737373;
  line-height: 142%;
}

@media (max-width:992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width:767px) {
  .header-block__title {
    font-size: 30px;
  }
}

/* ------------------- ПОДВАЛ ----------------------------------------------------------------------- */
.footer {}

/* ------------------- MAIN-BLOCK------------------------------------------------------------------------ */

.main-block {
  position: relative;
}

.main-block__container {}


.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0px 160px 0px;
  }
}

/* обращаемся ко всем обьектам main-block_body первого уровня >, звездочка означает любой тег, после звездочки значит кроме последнего элемента */
.main-block__body>*:not(:last-child) {
  margin: 0px 0px 35px 0px;
}




.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  letter-spacing: 0.2px;
  font-weight: 800;

}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;

}

/* меняем цвет текста на темный с помощью @media при уменьшении экрана */
@media (max-width: 479px) {
  .main-block__text {
    color: #587575;
  }

}


.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  /* выстривает друг под другом */
  margin: -10px 0;

}

.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: 00.2px;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
}


/* увеличить кнопки с помощью @media при уменьшении экрана */
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

/* подход мобайл ферст делаем отступ справа на экранах шире*/
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }

}

.main-block__button_orange {
  background: #FF7B47;
  color: #fff;
}

.main-block__button_orange:hover {
  background-color: #fff;
  color: #FF7B47;
}

.main-block__button_border {
  color: #0D5C63;
  border: 1px solid #0D5C63;
}

.main-block__button_border:hover {
  color: #fff;

  background-color: #0D5C63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}


/* ----------------------- SERVICES ------------------------------------------------ */

.services {}

.services__container {}

.services__body {}

/* колонки вытягиваются друг под другом при ширине меньше 670px*/
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    /* флекс контейнер раздвинули влево и вправо на 15px*/
    margin: 0px -15px;
  }
}

.services__column {
  /* таким образом колонка будет одной трети от всей ширины */
  flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services__column {
    /* колонку сдвинули паддингами на 15px так у нас между колонками будет 30px, а по краям слева и справа отступов не будет и будет ровно по вертикальной линии */
    padding: 0px 15px;
  }
}

/* позволяет по порядку перестраиваться колонкам при небольшой  ширине экрана*/
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  /* выравнивает высоту колонок*/
  height: 100%;
  /* тень от колонки*/
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  /* отступ внутри колонки отодвигает текст в центр*/
  padding: 35px;
}

.item-service {}

/* модификатор для изменения стиля последней колонки*/
.item-service_green {
  background-color: #0D5C63;
}

.item-service_green .item-service__title {
  color: #fff;
}

.item-service_green .item-service__text {
  color: #fff;
}

.item-service>*:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__icon {}

.item-service__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.item-service__text {
  color: #737373;
  line-height: 142%;
}



/* ----------------------- ADVANTAGES ----------------------------------------------------*/


.advantages {
  padding: 80px 0px;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 40px 0;
  }
}

.advantages__container {}

._container {}

.advantages__header {
  margin: 0px 0px 50px 0px;
}

@media (max-width: 767px) {
  .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background-color: #fff;
  padding: 30px;
  font-weight: 700;
  text-align: center;
}

.advantages__item>*:not(:last-child) {
  margin: 0px 0px 10px 0px;
}


.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142px;

}

.advantages__text {
  letter-spacing: 0.1px;
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}

/* ---------------------------- PRACTICEC ----------------------------------------------------------- */


.practice {
  padding: 125px 0px 80px 0px;
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}


.practices__container {}

.practice__header {
  margin: 0px 0px 45px 0px;
}

@media (max-width: 767px) {
  practice__header {
    margin: 0px 0px 25px 0px;
  }
}


.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.practice__item {}

.item-practice {
  background-color: #fff;
  /* необходимо выровнять картинки по высоте (кривизна из-за разного количества текста)*/
  display: flex;
  /* разворачиваем */
  /* делаем карточки 100%, чтобы картинка была всегда внизу */
  height: 100%;
  flex-direction: column;
}

.item-practice__content {
  padding: 30px;
  /* необходимо выровнять картинки по высоте (кривизна из-за разного количества текста), 
  поэтому позволяем увеличиваться нашему контенту, который содержит ссылку и текст */
  flex: 1 1 auto;
}


.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.item-practice__text {
  color: #737373;
  line-height: 142%;
}

.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}

/* -------------------------- WHOWEARE ------------------------------------------*/


.whoweare {
  background: #ffffff;
  padding: 80px 0px 130px 0px;
}

.whoweare__container {}

.whoweare__header {
  margin: 0px 0px 100px 0px;
}

.whoweare__body {
  /* display-flex выстраивает элементы в ряд */
  display: flex;
  /* для отзывчивости чтобы поднялись вверх */
  align-items: flex-start;
}

/* одна колонка с видео занимает 57%*/
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  /* падинг вниз будем использовать размерозадающий процентный паддинг (442/1046*100)=42.25% ---- */
  padding: 0px 0px 42.25% 0px;
}

/* обратимся к iframe - тег через который вставлено видео, применяем абсолютное позиционирование относительно родителя видео*/
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* вторая колонка автоматически занимает пространство, если вдруг не будет видеоб тогда контент займет все место*/
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}

.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}

@media (max-width: 950px) {

  /* убираем отступы при уменьшении ширины экрана*/
  .whoweare {
    padding: 50px 0px 50px 0px;
  }

  /* ставим сначала текст потом видео при уменьшении экрана */
  .whoweare__body {
    flex-direction: column-reverse;
    /* восстановил пропавшее видео*/
    align-items: stretch;
  }

  .whoweare__title {
    font-size: 24px;
  }

  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }

  /* уменьшаем размер видео при уменьшении ширины экрана*/
  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }

  .whoweare__video:not(:last-child) {
    /* отступ сверху от видео */
    margin: 50px 0px 0px 0px;
  }

  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }

  .whoweare__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .whoweare__video:not(:last-child) {
    /* отступ сверху от видео */
    margin: 30px 0px 0px 0px;
  }

}

.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  color: #737373;
  line-height: 142%;
}

.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.whoweare__items {}

.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  color: #737373;
  white-space: nowrap;
  line-height: 142%;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --------------------- CLIENTS ------------------------------------------------ */


.clients {
  padding: 50px 0px;
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0px;
  }
}

.clients__container {}

.client__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.client__item {
  padding: 8px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}

.client__item img {
  min-width: 100%;
}


/* ------------------------ SUBSCRIBE ----------------------------------------------------------- */


.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
  background: #252B42;
}

.subscribe__container {}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  align-items: center;
  background: #17213c;
  border-radius: 2px;
}

/* mobile-first для экономии строк*/
@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}

@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__title {
  color: #fff;
  font-size: 24px;
  line-height: 133%;
  font-weight: 700;
  letter-spacing: 0.1px;
}

/* отступ вниз от title при уменьшении экрана */
@media (max-width: 810px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }

  /* margin -15px  - мы раздвигаем body, чтобы не было лишних отступов внешних и остаются только внутренние отступы */
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 25px;
  }
}

@media (min-width: 810px) {
  .subscribe__title {
    max-width: 266px;
  }

  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  background: #f9f9f9;
  padding: 0px 20px;
  border: 1px solid #e6e6e6;
  border-right: 0;
  color: #737373;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
}

/* focus - при наборе данных они будут черного цветв*/
.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #FF7B47;
  border: 1px solid #e6e6e6;
  display: flex;
  border-radius: 0px 5px 5px 0px;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease 0s;
  padding: 0px 22px;
}

.subscribe__button:hover {
  background: #ca6137;
}

@media (max-width: 810px) {
  .subscribe__button {
    padding: 0px 15px;
  }

  .subscribe__input {
    padding: 0px 15px;
  }
}


/* ------------------------GETINTOUCH --------------------------------------------------*/

.getintouch {
  /*  отодвигает блок от верхнего блока на 80px  и нижнего  на 135px */
  padding: 80px 0px 135px 0px;
}

.getintouch__container {}

.getintouch__header {
  /*  отодвигает шапку блока снизу на 80 px*/
  margin: 0 0 80px 0;
}

.getintouch__items {
  margin: 0 -15px;
}

@media (min-width: 992px) {
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0px;
  }

  .getintouch__header {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 767px) {
  .getintouch__header {
    margin: 0 0 30px 0;
  }
}

.getintouch_item {
  flex: 0 1 33.333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* отступы безопасности*/
  padding: 50px 15px;

}

.item-getintouch_active {
  background: #252b42;
  padding: 80px 15px;
  color: #fff;
}

@media (max-width: 992px) {
  .item-getintouch_active {
    padding: 50px 15px;
  }
}

.item-getintouch_active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}

/* ко всем элементам первого уровня (>) делаем отступ в 15 пикселей */
.item-getintouch>*:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch__icon {}

/* делаем отступ от иконки в 15px*/
.item-getintouch__icon:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* наследуем цвет*/
.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;

}

.item-getintouch__email:hover {
  /* при наведении становится подчеркнутым */
  text-decoration: underline;
}

.item-getintouch__label {
  font-weight: 700;
  line-height: 150%;
  font-size: 16px;
}

.item-getintouch__button {
  border: 1px solid #FF7B47;
  min-height: 44px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #FF7B47;
  line-height: 142%;
  /* отодвигает текст внутри кнопки в центр*/
  padding: 5px 20px;
  text-align: center;
  /* анимация */
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

/* hover - при наведении эффект парения или нависания c изменением цвета кнопки и текста */
.item-getintouch__button:hover {
  border: 1px solid #FF7B47;
  background-color: #FF7B47;
  color: #fff;
}


/* --------------------------------- CONTACT ----------------------------------------*/


.contact {
  background-color: #fff;
  padding: 42px 0;
}

.contact__container {}

.contact__content {
  padding: 0px 0px 20px 0px;
}

@media (min-width:767px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact__content {
    padding: 0px 20px 0px 0px;
  }
}



.contact__title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 133%;
}

/* отступаем 10px от тайтла*/
.contact__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.contact__text {
  color: #737373;
  line-height: 142%;
}

.contact__button {
  display: flex;
  background: #FF7B47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 20px;
  transition: background-color all 0.3s ease 0s;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact__button:hover {
  background-color: #aa5330;
}


/* ---------------------------- FOOTER -----------------------------------------------------*/

.footer {}

.footer__top {
  background: #17213c;
  padding: 30px 0px;
}

.footer__main {}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer__column {
  flex: 0 1 16.6667%;
  padding: 20px 15px;

}

.footer__column:last-child {
  flex: 0 1 33.334%;
}

@media (max-width:992px) {
  .footer__column {
    flex: 0 1 25%;
  }

  .footer__column:last-child {
    flex: 0 1 100%;
  }
}

@media (max-width:992px) {
  .footer__column {
    flex: 0 1 50%;
  }

}

.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 20px 0;
}

.footer__menu {}

.menu-footer {}

.menu-footer__list {
  color: #fff;
  line-height: 171%;
  display: inline-block;
  letter-spacing: 0.2px;
}

.menu-footer__list:hover {
  text-decoration: underline;
}

.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.menu-footer__link {}

.footer__contacts {}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  padding: 0 0 0 34px;
  line-height: 142%;
  display: flex;
  align-items: center;
  color: #ffffff;
  min-height: 30px;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}

.contacts-footer__item_phone {
  background: url("../img/footer/1.svg") 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/2.svg") 0 0 no-repeat;
}

.contacts-footer__item_mail {
  background: url("../img/footer/3.svg") 0 0 no-repeat;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.footer__copy {
  color: #737373;
  line-height: 171%;


}

.footer__social {}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin: 0 20px 0 0;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__copy {
    margin: 0 0 15px 0;
    text-align: center;
  }
}